.idea/
.venv/
__pycache__/
*.pyc
.env

# Testing
.coverage
coverage.xml
htmlcov/

# Python
*.egg-info/
__pycache__/
*.pyc

# Data
runs/
logs/
eval_results/

# Scratch/Misc
doc/
docs/
notebooks/
*.smoke-test.json
*.zip
relative_test.txt
get_gold.py
get_gold_patch.py
